@import "./styles/main.scss";

.App {
  background-color: $white-color;
  transition: background-color 0.5s;

  &--dark {
    background-color: $primary-color;
  }
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  scroll-behavior: smooth;

  &__section {
    margin-bottom: 40px;

    @include onDesktop {
      margin-bottom: 80px;
    }

    &-title {
      margin: 0 0 24px;

      @extend %h1-text;
      font-size: 22px;
      line-height: 31px;

      &--dark {
        color: $icons-color;
      }

      @include onTablet {
        font-size: 32px;
        line-height: 41px;
      }

      @include onDesktop {
        font-size: 32px;
        line-height: 41px;
      }
    }
  }
}

.container {
  margin: 0 auto;
  max-width: 1136px;
  padding: 0 20px;
}
